menuconfig AOA
	bool "AOA antenna drivers"
	depends on DT_HAS_U_BLOX_ANT_B10_ENABLED # Add any other AOA antenna drivers instance here
	select SERIAL_SUPPORT_INTERRUPT
	help
	  Include AOA antenna drivers in the system configuration.
if AOA

module = AOA
module-str = aoa
source "subsys/logging/Kconfig.template.log_config"

endif

rsource "ant_b10/Kconfig.ant_b10"